/***************************************************************************
 *                                                                         *
 *                              CSS TEMPLATE                               *
 *                                                                         *
 ***************************************************************************/

::-webkit-scrollbar {
  width: 12px; /* Largeur de la barre de défilement */
}

/* Stylise le bouton de défilement (le pouce) */
::-webkit-scrollbar-thumb {
  background-color: #7c7c7c; /* Couleur du pouce */
}

/* Stylise le fond de la barre de défilement (la piste) */
::-webkit-scrollbar-track {
  background: #494949; /* Couleur de fond de la piste */
}

p {
  font-size: 16px;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

.form label {
  position: relative;
}

.form label .input-form {
  background-color: #333;
  color: #fff;
  width: 100%;
  padding: 20px 05px 05px 10px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form .input-form:focus {
  scale: 1.05;
  border: 1px solid rgb(0, 140, 255);
  box-shadow: 0 0 10px rgb(0, 140, 255);
}

.form .input-form:hover {
  border: 1px solid rgb(0, 140, 255);
  box-shadow: 0 0 10px rgb(0, 140, 255);
}

.form label .input-form + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form label .input-form:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form label .input-form:focus + span,
.form label .input-form:valid + span {
  color: rgb(0, 140, 255);
  text-shadow: 0 0 2px rgb(0, 140, 255);
  letter-spacing: 2px;
  top: 0px;
  font-size: 0.7em;
  font-weight: 600;
}

.input-form {
  font-size: medium;
}

/* Pour les petits écrans (par exemple, smartphones) */
@media (max-width: 600px) {
  p {
    font-size: 14px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}

.mid {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background-color: #1a1a1a;
  color: #fff;
  border: 1px solid #333;
}

.div_title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
}

.title {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(0, 140, 255);
  text-shadow: 0 0 5px rgb(0, 140, 255);
}

.title::before {
  width: 18px;
  height: 18px;
}

.title::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title::before,
.title::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
}

.title-sec {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2px;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  padding-left: 40px;
  color: rgb(0, 140, 255);
  text-shadow: 0 0 5px rgb(0, 140, 255);
}

.title-sec::before {
  width: 18px;
  height: 18px;
}

.title-sec::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title-sec::before,
.title-sec::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
}

.message,
.signin {
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.signin {
  text-align: center;
}

.signin a:hover {
  color: rgb(93, 182, 255);
}

.signin a {
  color: rgb(0, 140, 255);
}

.flex {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 6px;
}

.form label {
  position: relative;
}

.submit {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
  cursor: pointer;
}

.submit:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 10px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255);
}

.deconnexion {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  transform: 0.3s ease;
  background-color: #ff0000da;
  box-shadow: 0 0 15px #ff0000da;
}

.deconnexion:hover {
  background-color: #db000096;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
    opacity: 1;
  }

  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {
  --bg-color: #252525;
  --header-bg-color: #181818;
}

html {
  font-size: 65%;
}

.body {
  font-size: 1.6rem;
  background-color: var(--bg-color);
  color: #f3f5f9;
  display: flex;
  align-items: center;
  padding: 0px 16px 0px 40px;
  height: 100vh;
  font-family: "Inter", sans-serif;
  gap: 24px;
}

ul {
  list-style: none;
}

h3 {
  font-size: 1rem;
}

.header {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 40px);
  background-color: var(--header-bg-color);
  width: 215px;
  align-content: center;
  justify-content: space-between;
  padding: 32px 0px 24px 16px;
  border-radius: 20px;
}

main {
  width: 100%;
  background: var(--header-bg-color);
  height: calc(100% - 40px);
  border-radius: 20px;
}

.navbar {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.group h3 {
  font-weight: 600;
  letter-spacing: 0.08rem;
  color: #60626c;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu-item {
  display: flex;
  gap: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  height: 34px;
  align-items: center;
  padding: 3px 6px;
  position: relative;
  border-radius: 4px 0px 0px 4px;
  text-transform: capitalize;
}

.menu-item a {
  display: flex;
  gap: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  height: 34px;
  align-items: center;
  padding: 3px 6px;
  position: relative;
  border-radius: 4px 0px 0px 4px;
  text-transform: capitalize;
  text-decoration: none; /* Assurez-vous que le soulignement est supprimé */
  color: #ffffff; /* Remplacez #000000 par la couleur désirée */
}

.menu .menu-item:hover {
  background-color: var(--bg-color);
}

.menu-item:before {
  content: "";
  position: absolute;
  right: 1px;
  top: -16px;
  width: 16px;
  height: 16px;
  border-radius: 0 0 10px 0;
  transform: rotate(10deg);
}

.menu-item:hover::before {
  background: var(--header-bg-color);
  box-shadow: 10px 0 0 0 var(--bg-color);
}

.menu-item:after {
  content: "";
  position: absolute;
  right: 0px;
  bottom: -16px;
  width: 16px;
  height: 16px;
  border-radius: 0 10px 0 0;
}

.menu-item:hover::after {
  box-shadow: 0 -10px 0 0 var(--bg-color);
}

.menu-item .icon {
  width: 24px;
  height: 24px;
  background: rgb(0, 140, 255);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item .icon i {
  font-size: 1.6rem;
}

.navbar .group:nth-child(1) .menu .menu-item:nth-child(1) .icon {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 10px rgb(0, 140, 255);
}

.navbar .group:nth-child(1) .menu .menu-item:nth-child(2) .icon {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 10px rgb(0, 140, 255);
}

.navbar .group:nth-child(1) .menu .menu-item:nth-child(3) .icon {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 10px rgb(0, 140, 255);
}

.navbar .group:nth-child(1) .menu .menu-item:nth-child(4) .icon {
  background: rgb(0, 140, 255);
  box-shadow: 0 0 10px rgb(0, 140, 255);
}

.navbar .group:nth-child(2) .menu .menu-item:nth-child(1) .icon {
  background: #088008;
  box-shadow: 0 0 10px #088008;
}

.navbar .group:nth-child(2) .menu .menu-item:nth-child(2) .icon {
  background: #ffa500;
  box-shadow: 0 0 10px #ffa500;
}

.navbar .group:nth-child(2) .menu .menu-item:nth-child(3) .icon {
  background: #8d2424;
  box-shadow: 0 0 10px #8d2424;
}

.navbar .group:nth-child(2) .menu .menu-item:nth-child(4) .icon {
  background: #764ea5;
  box-shadow: 0 0 10px #764ea5;
}

.user {
  display: flex;
  width: calc(100% - 16px);
  padding-top: 16px;
  border-top: 1px solid #292e38;
  gap: 8px;
}

.avatar {
  background-image: url("https://i.pravatar.cc/300");
  background-size: cover;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.info {
  display: flex;
  flex-direction: column;
}

.info .name {
  font-size: 1.2rem;
}

.info .account-id {
  font-size: 1rem;
  color: #60626c;
}

@media (max-width: 825px) {
  .header {
    width: auto;
    padding-right: 16px;
  }
  .menu-item {
    border-radius: 4px;
    padding: 0px 6px;
  }
  .header h3,
  .info,
  .menu-item span,
  .menu-item::before,
  .menu-item:after {
    display: none;
  }
  .user {
    width: 100%;
  }
  .navbar {
    gap: 76px;
  }
}

.header,
main {
  min-height: 540px;
}
#font {
  font-size: 1.3rem;
  position: absolute;
  bottom: 32px;
  right: 32px;
}
#font a {
  color: #9257d6;
}

@media (max-height: 500px) {
  body {
    min-height: 100vh;
    height: auto;
    padding: 30px;
  }
}

a {
  text-decoration: none;
}

.milieu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.title_home {
  margin-bottom: 2.5%;
}
.title_home {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title_home::before {
  width: 18px;
  height: 18px;
  transform: rotate(45deg);
}

.title_home::after {
  width: 18px;
  height: 18px;
  animation: pulse 3s linear infinite;
  transform: rotate(45deg);
}

.title_home::before,
.title_home::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  background-color: #00bfff;
  transform: rotate(45deg);
}
.text_home {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.5rem;
  margin-bottom: 1%;
}

.texte_home {
  padding-left: 10%;
  padding-right: 10%;
  font-size: 1.5rem;
  margin-top: 2.5%;
}

.wrapper_left {
  display: flex; /* Active Flexbox pour ce conteneur */
  flex-direction: column; /* Aligne les éléments enfants en colonne */
  width: 30%; /* Largeur ajustée à votre besoin */
  justify-content: center; /* Centre les éléments enfants verticalement */
  align-items: center; /* Centre les éléments enfants horizontalement */
}

@media (max-width: 1400px) {
  .wrapper_left {
    width: 40%;
  }
}

.name_file {
  margin-bottom: 5%;
}

@keyframes msg {
  0% {
    transform: translate(0, 0) scale(1);
  }

  15% {
    transform: translateX(1px);
  }

  30% {
    transform: scale(1.1);
  }

  45% {
    transform: translateY(1px);
  }

  60% {
    transform: translateY(0px);
  }

  75% {
    transform: scale(1);
  }

  90% {
    transform: translateX(-px);
  }

  100% {
    transform: translate(0, 0) scale(1);
  }
}

.mid_rules {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.wrapper_div_rules {
  height: auto;
  overflow-y: auto;
}

.wrapper_div_rules p {
  margin-bottom: 5%;
  padding-right: 20%;
  padding-left: 20%;
}

.ligneup {
  margin-top: 1.5%;
}
.title_rules {
  margin-bottom: 1%;
  margin-top: 5%;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 30px;
  color: #00bfff;
}

.title_rules::before {
  width: 18px;
  height: 18px;
}

.title_rules::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title_rules::before,
.title_rules::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

/*======================================
=            SECTION FORUM             =
======================================*/

.mid_forum {
  display: flex;
  position: relative;
  height: 100%;
  width: 100%; /*Assure  que le conteneur prend toute la largeur */
}

/*============================
=            FIN             =
============================*/

/*===========================================
=            SECTION LEFT FORUM             =
===========================================*/

.wrapper_left {
  display: flex; /* Active Flexbox pour ce conteneur */
  flex-direction: column; /* Aligne les éléments enfants en colonne */
  width: 30%; /* Largeur ajustée à votre besoin */
  justify-content: center; /* Centre les éléments enfants verticalement */
  align-items: center; /* Centre les éléments enfants horizontalement */
}

@media (max-width: 1400px) {
  .wrapper_left {
    width: 40%;
  }
}

.forum_ajouterImage {
  height: 250px;
  width: 80%;
  justify-content: center;
  align-items: center;
  background-color: #0f0f0f;
  border-radius: 20px;
}

.forum_wrapper_left_h2 {
  margin-top: 10%;
  letter-spacing: 2px;
}

.forum_div_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.button_Import {
  --main-focus: #2d8cf0;
  --font-color: #323232;
  --bg-color-sub: #dedede;
  --bg-color: #eee;
  --main-color: #323232;
  position: relative;
  width: 150px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-bottom: 2%;
  border: 2px solid var(--main-color);
  box-shadow: 4px 4px var(--main-color);
  background-color: var(--bg-color);
  border-radius: 10px;
  overflow: hidden;
}

.button_Import,
.button__icon,
.button__text {
  transition: all 0.3s;
}

.button_Import .button__text {
  transform: translateX(22px);
  color: var(--font-color);
  font-weight: 600;
}

.button_Import .button__icon {
  position: absolute;
  transform: translateX(109px);
  height: 100%;
  width: 39px;
  background-color: var(--bg-color-sub);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_Import .svg {
  width: 20px;
  fill: var(--main-color);
}

.button_Import:hover {
  background: var(--bg-color);
}

.button_Import:hover .button__text {
  color: transparent;
}

.button_Import:hover .button__icon {
  width: 148px;
  transform: translateX(0);
}

.button_Import:active {
  transform: translate(3px, 3px);
  box-shadow: 0px 0px var(--main-color);
}

.name_file {
  margin-bottom: 5%;
}

.button_Send {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;
  height: 32px;
  width: 124px;
  border: none;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
  border-radius: 20px;
  cursor: pointer;
}

.button_Send:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 10px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255);
}

.button_Send:hover .svg-icon {
  animation: msg 2s linear infinite;
}

.lable {
  line-height: 20px;
  font-size: 17px;
  color: #fff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.form_titre_forum {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80%;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10%;
  position: relative;
  background-color: #0f0f0f;
  color: #fff;
}

.form_titre_forum label {
  position: relative;
}

.form_titre_forum label .input {
  background-color: #292929;
  margin-bottom: 20px;
  color: #fff;
  width: 100%;
  padding: 20px 0px 05px 0px;
  outline: 0;
  border: 1px solid rgba(105, 105, 105, 0.397);
  border-radius: 10px;
}

.form_titre_forum label .input:hover {
  border: 1px solid rgb(0, 140, 255);
  box-shadow: 0 0 10px rgb(0, 140, 255);
}

.form_titre_forum label .input:focus {
  scale: 1.05;
  border: 1px solid rgb(0, 140, 255);
  box-shadow: 0 0 20px rgb(0, 140, 255);
}

.form_titre_forum label .input + span {
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
}

.form_titre_forum label .input:placeholder-shown + span {
  top: 12.5px;
  font-size: 0.9em;
}

.form_titre_forum label .input:focus + span,
.form_titre_forum label .input:valid + span {
  color: rgb(0, 140, 255);
  text-shadow: 0 0 2px rgb(0, 140, 255);
  letter-spacing: 2px;
  top: 5px;
  font-size: 0.7em;
  font-weight: 600;
}

.forum_wrapper_h2 {
  margin-top: 5%;
  letter-spacing: 2px;
}

@media (max-width: 1400px) {
  .form_titre_forum {
    width: 80%; /* Réduction de la largeur maximale */
    padding: 15px; /* Ajustement du padding */
    margin-top: 5%; /* Réduction de la marge supérieure */
  }

  .form_titre_forum label .input {
    padding: 15px 0px 05px 0px; /* Ajustement du padding vertical */
  }
}

.vertical-line {
  height: 100%;
  width: 1px;
  background-color: rgb(90, 90, 90); /* Couleur du trait */
  margin-left: 0%;
  self-align: stretch;
}

/*============================
=            FIN             =
============================*/

/*============================================
=            SECTION RIGHT FORUM             =
============================================*/

.wrapper_right {
  width: 70%;
  height: 100%;
}

.forum_wrapper_right_h2 {
  margin-top: 5%;
  margin-bottom: 5%;
}

.ligneHorizontale {
  height: 1px;
  background-color: rgb(90, 90, 90); /* Couleur du trait */
  width: 100%;
  self-align: stretch;
}

.forum_div_photos {
  background-color: #181818;
  width: 100%;
  height: 90%;
  overflow-y: auto; /* Ajoute une barre de défilement verticale seulement si nécessaire */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}

.forum_div_photos img {
  width: 100%;
  border-radius: 20px;
}

.image-container {
  width: 90%;
  margin-bottom: 20px; /* Espacement entre chaque groupe image-boutons */
  background-color: #0f0f0f;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttons_actions {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 10px; /* Espacement entre les boutons */
}

.shadow__btn {
  padding: 10px 20px;
  border: none;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  cursor: pointer;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
}

.shadow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 10px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255);
}

.button_delete_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.shaddow__btn {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  color: #fff;
  border-radius: 7px;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
  cursor: pointer;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
}

.shaddow__btn:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 10px rgb(0, 140, 255),
    0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255);
}

@media (min-width: 1401px) and (max-width: 2000px) {
  .forum_div_photos img {
    width: 90%; /* Pour occuper toute la largeur du conteneur parent */
  }
}

@media (max-width: 1400px) {
  .forum_div_photos img {
    width: 100%; /* Ajustement pour réduire la largeur maximale */
  }

  .image-container {
    margin-bottom: 15px; /* Réduction de l'espacement entre les images */
  }

  .forum_div_photos {
    padding: 0 5%; /* Ajout de padding sur les côtés pour un meilleur rendu */
  }
}

@media (max-width: 1400px) {
  .wrapper_right {
    width: 60%;
  }
}

/*============================
=            FIN             =
============================*/

.wrapper_left_viewer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}
.wrapper_left_viewer p {
  margin-bottom: 20px;
}
.wrapper_right_viewer {
  display: flex; /* Active Flexbox pour ce conteneur */
  align-items: center;
  width: 40%;
  justify-content: center;
  height: 100%;
}

.card {
  width: 400px;
  background-color: #252525;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.chat-header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ffffff;
}

.chat-window {
  height: 500px;
  width: 400px;
  overflow-y: scroll;
}

.message-list {
  list-style: none;
  margin-top: 0;
  padding: 0;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ffffff;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;

  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 5px;

  cursor: pointer;
}

.send-button:hover {
  background: rgb(0, 140, 255);
  color: white;
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 10px rgb(0, 140, 255),
  0 0 25px rgb(0, 140, 255), 0 0 50px rgb(0, 140, 255);
}

.email-green {
  color: green;
}

.email-red {
  color: red;
}

.link-file {
  text-decoration: none; /* Supprime le soulignement */
  color: #007bff; /* Couleur bleue par défaut pour le lien, vous pouvez la changer */
  font-weight: bold; /* Rend le texte en gras */
  transition: all 0.2s ease-in-out; /* Transition douce pour les changements d'état */
}

.message-list li {
  padding: 10px; /* Ajoute de l'espace autour du contenu de chaque message */
}

.mid_mypictures {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;
}

.wrapper_images_enregistrees {
  overflow-y: auto;
}

.wrapper_images_enregistrees img {
  margin-top: 100px;
}

.image {
  margin-top: 20%;
  width: 50%;
  height: 50%;
  object-fit: cover; /* Remplit le conteneur tout en gardant les proportions de l'image */
  object-position: center; /* Centre l'image dans le conteneur */
}

.ligneHorizontaleInside {
  margin-top: 100px;
  height: 1px;
  background-color: rgb(90, 90, 90); /* Couleur du trait */
  width: 100%;
  self-align: stretch;
}

.title_rules {
  margin-bottom: 1%;
  margin-top: 5%;
  font-size: 28px;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  color: #00bfff;
}

.title_rules::before {
  width: 18px;
  height: 18px;
}

.title_rules::after {
  width: 18px;
  height: 18px;
  animation: pulse 1s linear infinite;
}

.title_rules::before,
.title_rules::after {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  border-radius: 50%;
  left: 0px;
  background-color: #00bfff;
}

.overlow_rules {
  overflow-y: auto;
  height: 90%;
}

.est_pas_connecte {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.est_pas_connecte p {
  font-size: 20px;
  margin-top: 5%;
}

.redirection {
  text-decoration: none;
  padding: 5px;
  color: white;
  border-radius: 20px;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
}

.loader {
  width: 100px;
  height: 100px;
  position: relative;
  background: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.loader:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 60px;
  height: 60px;
  transform: rotate(45deg) translate(30%, 40%);
  background: rgb(0, 140, 255);
  box-shadow: 32px -34px 0 5px rgb(115, 192, 255);
  animation: slide 2s infinite ease-in-out alternate;
}

.loader:after {
  content: "";
  position: absolute;
  left: 10px;
  top: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(0, 140, 255);
  box-shadow: 0 0 15px rgb(0, 140, 255);
  transform: rotate(0deg);
  transform-origin: 35px 145px;
  animation: rotate 2s infinite ease-in-out;
}

@keyframes slide {
  0%,
  100% {
    bottom: -35px;
  }

  25%,
  75% {
    bottom: -2px;
  }

  20%,
  80% {
    bottom: 2px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(-15deg);
  }

  25%,
  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(25deg);
  }
}

.loader_myphotos {
  width: 175px;
  height: 80px;
  display: block;
  background-image: radial-gradient(
      circle 25px at 25px 25px,
      #fff 100%,
      transparent 0
    ),
    radial-gradient(circle 50px at 50px 50px, #fff 100%, transparent 0),
    radial-gradient(circle 25px at 25px 25px, #fff 100%, transparent 0),
    linear-gradient(#fff 50px, transparent 0);
  background-size: 50px 50px, 100px 76px, 50px 50px, 120px 40px;
  background-position: 0px 30px, 37px 0px, 122px 30px, 25px 40px;
  background-repeat: no-repeat;
  position: relative;
  box-sizing: border-box;
}

.loader_myphotos::before {
  content: "";
  left: 60px;
  bottom: 18px;
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgb(0, 140, 255);
  background-image: radial-gradient(
      circle 8px at 18px 18px,
      #fff 100%,
      transparent 0
    ),
    radial-gradient(circle 4px at 18px 0px, #fff 100%, transparent 0),
    radial-gradient(circle 4px at 0px 18px, #fff 100%, transparent 0),
    radial-gradient(circle 4px at 36px 18px, #fff 100%, transparent 0),
    radial-gradient(circle 4px at 18px 36px, #fff 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, #fff 100%, transparent 0),
    radial-gradient(circle 4px at 30px 5px, #fff 100%, transparent 0),
    radial-gradient(circle 4px at 30px 30px, #fff 100%, transparent 0),
    radial-gradient(circle 4px at 5px 30px, #fff 100%, transparent 0),
    radial-gradient(circle 4px at 5px 5px, #fff 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 3s linear infinite;
}

.loader_myphotos::after {
  content: "";
  left: 94px;
  bottom: 15px;
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgb(0, 140, 255);
  background-image: radial-gradient(
      circle 5px at 12px 12px,
      #fff 100%,
      transparent 0
    ),
    radial-gradient(circle 2.5px at 12px 0px, #fff 100%, transparent 0),
    radial-gradient(circle 2.5px at 0px 12px, #fff 100%, transparent 0),
    radial-gradient(circle 2.5px at 24px 12px, #fff 100%, transparent 0),
    radial-gradient(circle 2.5px at 12px 24px, #fff 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, #fff 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 3px, #fff 100%, transparent 0),
    radial-gradient(circle 2.5px at 20px 20px, #fff 100%, transparent 0),
    radial-gradient(circle 2.5px at 3px 20px, #fff 100%, transparent 0),
    radial-gradient(circle 2.5px at 3px 3px, #fff 100%, transparent 0);
  background-repeat: no-repeat;
  box-sizing: border-box;
  animation: rotationBack 4s linear infinite reverse;
}

@keyframes rotationBack {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

.loaderss {
  width: 8em;
  height: 8em;
}

.loader__eye1,
.loader__eye2,
.loader__mouth1,
.loader__mouth2 {
  animation: eye1 3s ease-in-out infinite;
}

.loader__eye1,
.loader__eye2 {
  transform-origin: 64px 64px;
}

.loader__eye2 {
  animation-name: eye2;
}

.loader__mouth1 {
  animation-name: mouth1;
}

.loader__mouth2 {
  animation-name: mouth2;
  visibility: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: hsl(var(--hue), 90%, 10%);
    --fg: hsl(var(--hue), 90%, 90%);
  }
}

@keyframes eye1 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }

  50%,
  60% {
    animation-timing-function: cubic-bezier(0.17, 0, 0.58, 1);
    transform: rotate(-40deg) translate(0, -56px) scale(1);
  }

  to {
    transform: rotate(225deg) translate(0, -56px) scale(0.35);
  }
}

@keyframes eye2 {
  from {
    transform: rotate(-260deg) translate(0, -56px);
  }

  50% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }

  52.5% {
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1, 0);
  }

  55%,
  70% {
    animation-timing-function: cubic-bezier(0, 0, 0.28, 1);
    transform: rotate(40deg) translate(0, -56px) rotate(-40deg) scale(1);
  }

  to {
    transform: rotate(150deg) translate(0, -56px) scale(0.4);
  }
}

@keyframes eyeBlink {
  from,
  25%,
  75%,
  to {
    transform: scaleY(1);
  }

  50% {
    transform: scaleY(0);
  }
}

@keyframes mouth1 {
  from {
    animation-timing-function: ease-in;
    stroke-dasharray: 0 351.86;
    stroke-dashoffset: 0;
  }

  25% {
    animation-timing-function: ease-out;
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: 0;
  }

  50% {
    animation-timing-function: steps(1, start);
    stroke-dasharray: 175.93 351.86;
    stroke-dashoffset: -175.93;
    visibility: visible;
  }

  75%,
  to {
    visibility: hidden;
  }
}

@keyframes mouth2 {
  from {
    animation-timing-function: steps(1, end);
    visibility: hidden;
  }

  50% {
    animation-timing-function: ease-in-out;
    visibility: visible;
    stroke-dashoffset: 0;
  }

  to {
    stroke-dashoffset: -351.86;
  }
}
